@import url(../css/style.css);

/* intro */

.intro {
    height: 474px;
    background: linear-gradient(180deg, rgba(148, 153, 221, 0.1) 0%, rgba(0, 16, 255, 0.1) 100%);
}

.intro__title {
    margin: -40px 0 20px 0;
}

.intro__img {
    margin-bottom: -276px;
}

/* about */

.about {
    margin-top: 128px;
}

.about {
    position: relative;
}

.about__img {
    margin: 80px 0;
}

.image__a {
    width: 100%;
}

.about__text {
    max-width: 1000px;
    font-size: 18px;
    color: #5B5B5B;
    font-weight: 600;
}

.about__text--bold {
    font-weight: 700;
    color: #000;
    margin-top: 30px;
}

/* team */

.team {
    margin-top: 128px;
    display: flex;
    justify-content: space-between;
}

.team__item {
    margin: 0 40px 20px 0;
}

.team__title {
    max-width: 212px;
    margin-right: 90px;
}

.team__photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.team__img {
    width: 320px;
}

.team__name {
    color: #000;
    font-size: 17px;
    font-weight: 550;
    margin-bottom: 20px;
}

.team__socials {
    margin-bottom: 30px;
}

.footer__color {
    margin-top: 60px;
}


