@import url(./components/header.css);
@import url(./components/footer.css);

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.navToggleActive {
    overflow: hidden;
    touch-action: none;
    overscroll-behavior: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Container */

.container {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    padding: 0 15px; 
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../images/intro/BG.jpg) center no-repeat;
    background-size: cover;
}

.intro__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.intro__title {
    font-size: 54px;
    font-weight: 700;
    width: 585px;
    margin: 35px 0 35px 0;
}

.intro__text {
    color: #5B5B5B;
    font-size: 15px;
    margin-bottom: 45px;
    width: 500px;
    font-weight: 500;
}

.intro__img {
    margin-left: 50px;
    width: 100%;
}

/* Btn */

.btn {
    display: flex;
    justify-content: space-between;
}

.btn1 {
    color: #fff;
    font-size: 15px;
    background-color: #232ED1;
    border-radius: 5px;
    padding: 16px 32px;
    text-decoration: none;

    transition: background-color .1s linear;
}

.btn1:hover {
    background-color: #1f2797;
}

.btn2 {
    margin-right: 260px;
    margin-top: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #5B5B5B;
}

/* Logo */

.logos {
    display: flex;
    justify-content: center;
    margin-top: 96px;
}

.logos__title {
    font-size: 15px;
    color: #5B5B5B;
    font-weight: 500;
}

.logos__inner {
    display: flex;
    text-align: center;
    margin-top: 40px;
}

.logos__item {
    width: 33.33333%;
}

/* Why */

.section__item {
    width: 100%;
    max-width: 1230px;
    margin: 15px auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
}

.section__text {
    width: 100%;
    max-width: 520px;
    margin-top: 150px;
}

.section__img {
    display: flex;
}

.section_items {
    width: 260px;
    margin-right: 32px;
}

.section_items:last-child {
    margin: -32px 0 0 0;
}

.why_img {
    transform: scale3d(1,1,1);
	transition: transform .2s ease-in-out;
}

.why_img:hover {
    transform: scale(1.1);
	transition: transform .2s linear;
}

.img {
    margin-top: 32px;
    display: block;
    overflow: hidden;
    border-radius: 12px;
    height: 260px;
}

.img:first-child {
    margin: 0;
}

.section__question {
    color: #232ED1;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.section__title {
    color: #0D1317;
    font-weight: 700;
    font-size: 40px;
    margin: 16px 0;
}

.section__description {
    font-size: 15px;
    font-weight: 500;
    color: #5B5B5B;
    margin-bottom: 32px;
}

.blue__text {
    color: #232ED1;
    font-weight: 500;
    font-size: 14px;

    margin: 25px 0 8px 0;
}

/* Img */

.sectionImg {
    background: url(../images/img-section/Background.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 768px;
}

.img__section {
    position: relative;
    margin-bottom: 200px;
}

.img__item {
    margin-top: 620px;
    display: block;
    height: auto;
}

.img__item--text {
    position: absolute;
    display: flex;
    right: 0;
    background-color: #232ED1;
    border-radius: 10px;
    padding: 95px 94px;
    color: #fff;
}

.img__title--title {
    width: 320px;
    font-size: 48px;
    font-weight: 600;
}

.img__title--text {
    width: 589px;
    margin: 32px 160px 0 83px;

    font-size: 15px;
    font-weight: 500;
}

/* Features */

.sectionFeatures {
    margin-top: 300px;
}

.features__item {
    display: flex;
    justify-content: space-between; 
    margin-top: 128px; 
}

.features__item:last-child {
    margin-bottom: 128px;
}

.img__bc {
    background: linear-gradient(180deg, rgba(148, 153, 221, 0.2) 0%, rgba(0, 16, 255, 0.2) 100%);
    padding: 116px 126px;
    border-radius: 31px 31px 0px 31px;
}

.img__bc--second {
    background: linear-gradient(180deg, rgba(255, 204, 192, 0.3) 0%, rgba(242, 76, 39, 0.3) 100%);
    border-radius: 31px 31px 31px 0;
}

.features__btn {
    display: flex;
    text-decoration: none;
    width: 123px;
}

.features_button {
    color: #000;
    font-weight: 700;
    margin-right: 10px;
}

.section__text.second {
    margin-left: 80px;
    margin-top: 140px;
}

/* Testimonials */

.testimonials {
    position: relative;
    margin-bottom: 100px;
}

.t__justify {
    display: flex;
    justify-content: space-between;
}

.testimonials__item {
    margin-top: 40px;
    max-width: 435px;
    position: relative;

    background: linear-gradient(180deg, rgba(182, 186, 255, 0.2) 0%, rgba(35, 46, 209, 0.2) 100%);
    padding: 32px;
    border-radius: 10px;
}

.t__header {
    padding-left: 60px;
}

.t__img {
    display: block;
    height: 20%;
    position: absolute;
}

.t__name {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 8px;
}

.t__stars {
    color: #F24C27;
}

.t__text {
    padding-top: 20px;

    color: #000;
    font-weight: 600;
    font-size: 15px;

    line-height: 1.5;
}


/* Faq */

.faq {
    max-width: 934px;
    margin: 0 auto 93px auto;
    position: relative;
}

.faq__item.active
.faq__text {
    display: block;
}

.faq__item.active
.faq__num {
    color: #0010FF;
}

.faq__item {
    position: relative;
    padding-left: 40px;
    margin-top: 60px;

    font-weight: 500;
}

.faq__item:last-child {
    margin-bottom: 135px;
}

.faq__num {
    display: block;
    position: absolute;
    left: 0;
    top: 0px;

    font-size: 20px;
    font-weight: 500;
    color: #5B5B5B;
}

.faq__title {
    font-size: 20px;
    color: #000;
    cursor: pointer;
    user-select: none;
}

.faq__text {
    color: #5B5B5B;
    font-size: 14px;
    margin: 24px 0 65px 0;
    display: none; 
}

/* adaptive layout */

@media (max-width: 1512px) {
    .container {
        max-width: 1100px;
    }

    .intro__inner {
        margin-top: 70px;
    }

    .intro__title {
        font-size: 40px;
    }

    .nav__last {
        margin-right: 120px;
    }

    .img__bc {
        padding: 90px 90px;
    }

    .section__text {
        margin: 100px 0 0 40px;
    }

    .section__title {
        font-size: 30px;
    }

    .testimonials__item {
        max-width: 350px;
    }
}

@media (max-width: 1180px) {
    .container {
        max-width: 800px;
    }

    .intro__img {
        display: none;
    }

    .navForPc {
        display: none;
    }

    .button {
        display: block;
    }

    .toggleItems {
        display: block;
    }

    .logos__inner {
        display: block;
    }

    .logos__item {
        margin: 20px auto;
    }

    .section__item {
        display: block;
        text-align: center;
    }

    .section__text {
        margin: 80px auto;
    }

    .section__img {
        justify-content: center;
    }

    .img__section {
        display: none;
    }

    .sectionFeatures {
        margin-top: 50px;
    }

    .features__item {
        display: block;
        background-color: #a8aeff31;
        z-index: -3;
        padding: 20px 30px;
        border-radius: 10px;
    }

    .img__bc {
        z-index: 1000;
    }

    .t__justify {
        display: block;
    }

    .testimonials__item {
        margin: 30px auto;
    }
}

@media (max-width: 671px) {
    .group {
        display: block;
    }

    .group__item {
        margin-bottom: 40px;
    }

    .features__item {
        max-width: 500px;
        margin: 30px auto;
    }

    .section__text {
        max-width: 300px;
    }

    .section__title,
    .section__description {
        max-width: 300px;
    }

    .img__bc {
        max-width: 500px;
    }
}

@media (max-width: 600px) {
    .intro__title,
    .intro__text {
        width: 330px;
    }

    .btn1 {
        padding: 10px 13px;
    }

    .btn2 {
        display: none;
    }

    .logos_img {
        margin-left: -20px
    }

    .section__img {
        display: block;
    }

    .section_items {
        margin: 0 auto;
    }

    .section_items:last-child {
        margin: 0 auto;
    }

    .img:first-child {
        margin-top: 32px;
    }

    .section__title {
        width: 270px;
        font-size: 20px;
    }

    .section__description {
        width: 270px;
        font-size: 12px;
    }

    .section__text.second {
        margin: 30px auto;
    }

    .sectionFeatures {
        margin-top: 100px;
    }

    .features__item {
        flex-direction: row;
        margin-top: 50px; 
        text-align: center;
    }

    .features__item:last-child {
        margin-bottom: 50px;
    }

    .features__btn {
        margin: 0 auto;
    }

    .img__bc {
        padding: 10px 12px;
        border-radius: 31px;
        width: 270px;
    }

    .img__bc--second {
        border-radius: 31px;
    }

    .section__text {
        max-width: 270px;
    }
}

@media (max-width: 345px) {
    .intro__title,
    .intro__text {
        max-width: 260px;
    }

    .logos_img {
        margin-left: -40px;
    }

    .why_img,
    .img__bc,
    .section_items {
        width: 200px;
    }

    .section__description,
    .section__title {
        max-width: 170px;
        margin: 10px auto;
    }

    .t__img {
        height: 18%;
    }
}