@import url(../style.css);

/* intro */

.intro {
    height: 474px;
    background: linear-gradient(180deg, rgba(148, 153, 221, 0.1) 0%, rgba(0, 16, 255, 0.1) 100%);
}

.intro__title {
    margin: -40px 0 20px 0;
}

.intro__img {
    margin-bottom: -276px;
}

/* about */

.about {
    margin-top: 128px;
}

.about {
    position: relative;
}

.about__img {
    margin: 80px 0;
}

.image__a {
    width: 100%;
}

.about__text {
    max-width: 1000px;
    font-size: 18px;
    color: #5B5B5B;
    font-weight: 600;
}

.about__text--bold {
    font-weight: 700;
    color: #000;
    margin-top: 30px;
}

/* team */

.team {
    margin-top: 128px;
    display: flex;
    justify-content: space-between;
}

.team__item {
    margin: 0 40px 20px 0;
}

.team__title {
    max-width: 212px;
    margin-right: 90px;
}

.team__photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imageBorder {
    overflow: hidden;
    border-radius: 10px;
}

.team__img {
    width: 320px;
    height: 320px;
    transform: scale3d(1,1,1);
    transition: .2s linear;
}

.team__img:hover {
    transform: scale(1.08);
}

.team__name {
    color: #000;
    font-size: 17px;
    font-weight: 550;
    margin-bottom: 20px;
}

.team__socials {
    margin-bottom: 30px;
}

.footer__color {
    margin-top: 60px;
}

@media (max-width: 990px) {
    .team {
        display: block;
        max-width: 320px;
        margin: 40px auto;
    }

    .team__title {
        margin-right: 0;
        text-align: center;
        max-width: 320px;
    }

    .intro__obj:last-child {
        display: none;
    }

    .intro__title,
    .intro__text{
        width: 320px;
    }
}

@media (max-width: 470px) {
    .about__text {
        font-size: 16px;
    }
}

@media (max-width: 335px) {
    .intro__title,
    .intro__text{
        width: 260px;
    }

    .team {
        display: block;
        max-width: 260px;
        margin: 40px auto;
    }

    .team__img {
        width: 260px;
        height: 260px;
    }
}